:root{
    --tbl-light: #d5e6ee72;
    --tbl-dark: black;
    --tbl-task: #48adf1;
    --tbl-editorial: #47adf1;
    --tbl-recruiting: #64c0a9;
    --tbl-mobile: #f29e33;
    --tbl-website: #d863a1;
    --tbl-sales: #b0c926;
    --tbl-goals:#9c72e4;
    }


    *{
        margin: 0;
        padding: 0;
       
        box-sizing: border-box;
    }


  body{
    background-color: var(--tbl-light);
    font-family: Arial, Helvetica, sans-serif;

    }

    .logo{
        height: 70px;
        background-color: white;
        vertical-align: middle;
        padding-left: 50px;
    }

    .text-logo{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
        font-weight: 900;
        vertical-align: super;
    }

    .container{
        width: 80%;
        max-width: 900px;
        margin: auto;
       
    }

   

    .card{
        background-color: white;
        margin: 40px 0;
    }

    .top{
        padding-top: 15px;
        padding-bottom: 6px;
        border-bottom: 2px solid var(--tbl-light);
        padding-left: 20px;
        
    
    }

    .bottom{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 30px;

    }

    .task{
        font-size: 15px;
        border-radius: 5px;
        border-color: var(--tbl-task);
        background-color: var(--tbl-task);
        color: white;
    }

    .section{
      font-size: 15px;
      border-radius: 5px;
      border-color: lightgrey;
      background-color: transparent;
      color: grey;

    }

    ul{
        list-style: none;
        
    }
    
    li {
        margin-bottom: 1rem;
    }

    details{
        margin-bottom: 2rem;
    }

    summary{
        margin-bottom: 1rem;
    }
    .tag{
        display: inline-block;
        font-size: 10px;
        border-radius: 2px;
        border-radius: 8px;
        padding: 5px 5px;
        color: white;
    }

    .tag-editorial{
        background-color: var(--tbl-editorial);
        
    }

    .tag-goals{
        background-color: var(--tbl-goals);
    }
    
    .tag-recruiting{
        background-color: var(--tbl-recruiting);

    }

    .tag-mobile{
        background-color: var(--tbl-mobile);

    }

    .tag-website{
        background-color: var(--tbl-website);
    }

    .tag-sales{
        background-color: var(--tbl-sales);
    }

    .circle{
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
   
    .circle-check{
        color: green;
        border: 1px solid;
        text-align: center;
       line-height: 20px;
    }

    .circle-x{
        color: red;
        border: 1px solid;
        text-align: center;
        vertical-align: middle;
    }
     
